:root {
  --font-color-white:#fff;
  --font-color-blue:#5267DF;
  --font-color-black:#242A45;
  --font-color-red:#FA5959;
  --font-family:"Rubik","Arial",sans-serif;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
  url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
  url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik","Arial",sans-serif;
  font-size: 18px;
  line-height: 28px;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header{
  padding: 48px 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo__link {
  width: 149px;
  margin-right: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.nav__item{
  list-style: none;
  margin-left: 48px;
}

.nav__link{
  text-decoration: none;
  color: var(--font-color-black);
  font-size: 13px;
  line-height: 17px;
}

.nav__link:hover {
  color: var(--font-color-red);
}

.button {
  display: inline-block;
  vertical-align: baseline;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border: 2px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button--red{
  color: var(--font-color-white);
  background-color: var(--font-color-red);
  font-weight: 500;
  padding: 11px 32px;
  font-size: 13px;
  line-height: 17px;
}

.button--red:hover{
  border-color: var(--font-color-red);
  background-color: #fff;
  color: var(--font-color-red);
}

.manager{
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-position:calc(50% + 600px) center;
}

.left-side-manager{
  width: 540px;
}

.manager__title{
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  font-weight: 500;
}

.manager__text{
  margin-top: 24px;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.5;
}

.buttons {
  display: flex;
  align-items: center;
}

.button--blue {
  color: var(--font-color-white);
  background-color: var(--font-color-blue);
}

.button--blue:hover{
  background-color: transparent;
  color: var(--font-color-blue);
  border-color: var(--font-color-blue);
}

.manager__button{
  padding: 10px 24px;
  margin-right: 16px;
  margin-top: 32px;
  margin-bottom: 100px;
}


.button--gray{
  color: var(--font-color-black);
  background-color: #F7F7F7;
}

.button--gray:hover{
  border-color: var(--font-color-black);
  color: var(--font-color-black);
  background-color: #fff;
}

/* FEATURES  */

.features{
  padding-bottom: 50px;
  background-image: url("../img/feautures-oval.svg");
  background-repeat: no-repeat;
  background-position:calc(50% - 700px)  calc(100% - 50px);
}

.site-top-section {
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.site-top-section__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  margin: 0;
  padding-bottom: 16px;
}

.site-top-section__text {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  opacity: 0.5;
  margin: 0;
}

.features__list {
  margin-top: 72px;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(73, 93, 207, 0.20012);
}

.features__item a{
  width: 100%;
  text-decoration: none;
  color: var(--font-color-black);
  font-size: 16px;
  line-height: 17px;
  opacity: 0.75;
  border-bottom: 4px solid transparent;
  text-align: center;
}

.features__item .active {
  border-color: var(--font-color-red);
}

.features__item{
  width: 33%;
}

.features__item--active{
  border-bottom: 3px solid var(--font-color-red);
}

.features-bottom{
  width: 445px;
  margin-left: auto;
  padding-top: 130px;
  padding-bottom: 130px;
}

.features-bottom__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  margin: 0;
}

.features-bottom__text{
  font-size: 18px;
  line-height: 28px;
  opacity: 0.5;
  margin-bottom: 32px;
}

.bookmark-text{
  background-image: url("../img/bg-simple.svg");
  background-position: left center;
  background-size: 536px 344px;
  background-repeat: no-repeat;
}

.speedy{
  background-image: url("../img/bg-speedy.svg");
  background-position: left center;
  background-size: 468px 393px;
  background-repeat: no-repeat;
}

.easy{
  background-image: url("../img/bg-easy.svg");
  background-position: left center;
  background-size: 440px 380px;
  background-repeat: no-repeat;
}

.button--info {
  width: 114px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}


 /* DOWNLOAD  */

.downloads-top{
  padding-top: 100px;
}

.downloads__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  padding-bottom: 50px;
  margin: 50px 0 150px ;
  margin-left: -50px;
  list-style: none;
}

.downloads__item{
  width: 280px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
  border-radius: 15px;
  margin-left: 50px;
  margin-bottom: -50px;
}

.downloads__item:nth-child(3n + 2){
  margin-top: 50px;
}

.downloads__item:nth-child(3n + 3){
  margin-top: 100px;
}

.downloads__img{
  padding-left: 89px;
  padding-right: 89px;
  padding-top: 50px;
  padding-bottom: 32px;
}

.downloads__title{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.25px;
  margin: 0;
}

.downloads__text{
  margin: 0;
  padding-top: 6px;
  font-size: 15px;
  line-height: 28px;
  opacity: 0.5;
  text-align: center;
  padding-bottom: 32px;
}

.downloads__button{
  margin: 24px;
  padding: 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.25px;
  height: 48px;
  width: 232px;
}

.downloads__link::before{
  content: "";
  background-image: url("../img/img-dotted.svg");
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 5px;
  background-position: center;
}

/* FAQ  */

.faq-bottom{
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
}

.faq__button {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: var(--font-color-black);
  background-image: url("../img/active-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
}

.faq__button:hover{
  color: var(--font-color-red);
}

.faq__text{
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--font-color-black);
}

.faq-bottom .collapsed{
  background-image: url("../img/arrow.svg");
}

/* FOOTER  */

.footer{
  background-color: var(--font-color-black);
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 150px;
}

.footer__container{
  display: flex;
  align-items: center;
}

.footer__list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 65px;
}

.footer__item:not(:last-child){
  margin-right: 45px;
}

.footer__link{
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  color: var(--font-color-white);
}

.footer__web-list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer__web-item{
  margin-left: 40px;
}

